body {
	background-color: #000000;
/*
	background-image: url("images/satorishade.jpg");
*/
	background-size: cover;
	color: #FFFFFF;
	font-family: arial;
	width: auto;
}

.center_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center_text {
        margin-left: auto;
        margin-right: auto;
}

.top_table {
	border-spacing: 1em;
}

a {
  color:#FFF;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  transition: all 0.2s ease-in;
}
